/* reset offsets */
* {
  margin: 0;
  padding: 0;
  }
/* reset link styles */
a {
  text-decoration: none;
  color: #000;
}
body {
  background: #e6e6e6;
}
/* navigation styling */
.nav {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background: #fff;
}
.nav__logo{
  font-size: 36px;
  margin: auto 40px;
  padding: 15px 0;
  white-space: nowrap;
}
.nav__menu{
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

}
.nav__menu-item{
  list-style-type: none;
  margin: auto 10px;


}
.nav__menu-item:hover a{
  color: rgb(155, 155, 155);
}
