@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf");
  }
/* reset offsets */
* {
  margin: 0;
  padding: 0;
  }
/* reset link styles */
a {
  text-decoration: none;
  color: #000;
}
body {
  background: #e6e6e6;
  font-family: 'Roboto', sans-serif;
}
/* navigation styling */
.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  background: #fff;
}

.nav-left {
  display: flex;
  margin: 0px 40px;
}
.nav-right {
  display: flex;
  margin: 10px 40px;
}
.nav-search {
  margin: auto 0;
}
.nav-search img {
  width: 35px;
}
.nav__logo{
  font-size: 36px;
  white-space: nowrap;
  margin: auto;
  margin-right: 40px;
}
.nav__menu{
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: auto;
  text-transform: uppercase;
}
.nav__menu-item{
  list-style-type: none;
  margin: auto 20px;
}
.nav__menu-item:hover a{
  color: rgb(155, 155, 155);
}

/* vertical styling */
.vertical {
  width: 300px;
  height: 900px;
  flex-direction: column;
}
.vertical .nav-left{
  flex-direction: column;
}
.vertical .nav__logo {
  margin: 40px 0;
}
.vertical .nav__menu{
  flex-direction: column;
  margin-bottom: 40px;
}
.vertical .nav__menu-item{
  margin: 0;
  margin-bottom: 25px;
}
.vertical .dropdown:hover .nav__menu-item{
  margin-bottom: 10px;
}
.vertical .portfolio__content {
  margin-bottom: 15px;
}
.vertical .portfolio__content-item {
  margin: 0 0 10px 0;
}

/* drop-down menu  */ 
.portfolio__content {
  list-style-type: none;
  display: none;
  flex-direction: column;
  background-color: #fff;
}
.portfolio__content-item {
  text-align: left;
  margin: 0px 70px 10px 20px;
}
.portfolio__content-item:hover a {
  color: rgb(155, 155, 155);  
}
 .dropdown:hover .portfolio__content {
  display: flex;
}

/* drop-down horizontal */
.horizontal .portfolio__content {
  position: absolute;
  padding-top: 20px;
}

/* mobile-swith button */
.mobile-switch {
  display: none;
  border-width: 0px;
  outline: 0;
  background: #fff;
  z-index: 9999;
}
 
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background: #acacac;
  width: 30px;
  height: 3px;
}

@media screen and (max-width: 960px) {
  .mobile-switch {
    display: block;
  }
  .nav {
    margin: 0;
    padding: 0;
  }
  .nav__menu {
    position: fixed;
    left: 100vw;
    top: 0;
    width: 100vw;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 0px 0px;
    margin: 0px 0px;
    padding-top: 90px;
    background: #fff;
  }
  .open {
    left: 0vw;
  }
  .nav__menu-item {
    margin: 15px;
  }
  .nav-left {
    display: flex;
    margin: 10px;
  }
  .nav-right {
    display: flex;
    margin: 0 15px ;
  }
  .nav-search {
    margin-right: 10px;
    z-index: 9999;
  }
  .portfolio__content-item {
    text-align: center;
  }
  /* vertical */
  .vertical {
    width: 100%;
    height: auto;
    flex-direction: row;
  }
  .vertical .nav__menu-item {
    font-size: 22px;
    margin: 0;
    margin-bottom: 25px;
  }
  .vertical .nav__logo {
    margin: 0 10px;
  }
  /* menu active */
  .active .nav-right {
    position: absolute;
    margin: 0px;
    width: 100%;
    justify-content: center;
  } 
  .active .mobile-switch { 
    position: absolute;
    right: 16px;
    top: 20px;
  }
  .active .nav-search {
    margin: 35px auto; 
  }
}