/* reset offsets */
* {
  margin: 0;
  padding: 0;
  }
/* reset link styles */
a {
  text-decoration: none;
  color: #000;
}
body {
  background: #e6e6e6;
}
/* navigation styling */
.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #fff;
}
.nav-left {
  display: flex;
}
.nav__logo{
  font-size: 36px;
  margin: auto 50px;
  white-space: nowrap;
}
.nav__menu{
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: auto 10px;
}
.nav__menu-item{
  list-style-type: none;
  margin: auto 20px;
}
.nav__menu-item:hover a{
  color: rgb(155, 155, 155);
}
.nav-search {
  margin: 40px;
}
/* vertical styling */
.vertical {
  width: 300px;
  height: 900px;
  flex-direction: column;
}
.vertical .nav-left{
  flex-direction: column;
}
.vertical .nav__logo {
  margin: 40px;
}
.vertical .nav__menu{
  flex-direction: column;
  margin: 40px;
}
.vertical .nav__menu-item{
  margin: 0;
  margin-bottom: 10px;
}
.vertical .portfolio__content {
  margin-bottom: 15px;
}
.vertical .portfolio__content-item {
  margin: 0 0 10px 0;
}

/* drop-down menu  */ 
.portfolio__content {
  list-style-type: none;
  display: none;
  flex-direction: column;
  background-color: #fff;
}
.portfolio__content-item {
  text-align: left;
  margin: 0px 70px 10px 20px;
}
.portfolio__content-item:hover a {
  color: rgb(155, 155, 155);  
}
 .dropdown:hover .portfolio__content {
  display: flex;
}
/* drop-down horizontal */

.horizontal .portfolio__content {
  position: absolute;
  padding-top: 20px;
}